#menu {
    border-bottom: 1px solid #CCC;
    padding: 5px;
    text-align: right;
}

#display {
    width:70vw;
    height:300px;
    position: fixed;
    left:0px;
    right:0px;
    top: 0px;
    bottom:0px;
    margin: auto;
}

#preview {
    width: 100%;
    height: 70%;
}

#controls {
    width: 100%;
    height: 30%;
    padding: 5px;
    text-align: center;
}

#body, #preview, #menu {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#picChooser{
    width:25px;
}