#demo{
    width:70vw;
    height: 70vh;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin: auto;
}

.clothing{
    height: 15vh;
    display: inline-block;
}

#controls{
    height: auto;
    width:100%;
}

#comboText{
    position: relative;
    margin: auto;
    left: 25vw;
}

#prev{
    position: relative;
    margin: auto;
    left: 25vw;
}

#next{
    position: relative;
    margin: auto;
    left: 25vw;
}

.combo{
    width:100%;
    height:23%;
    
}

#choice1{
   text-align: center;
}

#hat{
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}

#shirt{
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}

#pants{
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}

#shoes{
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}