body{
    margin:0px;
}

#home{
    width: 100vw;
}

#header{
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#logo{
    height: 100px;
}

#navigation{
    width:100%;
}

.item{
    width:100%;
    height: 20vh;
    position: relative;
    background-size: cover;
    background-position: center;
    
}

.subTitleBox{
    width:30%;
    height: 100%;
    margin: auto;
    background: rgba(0,0,0,0.5);
}

.subTitle{
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    width:100px;
    height: 30px;
    font-size: 20px;
    color: white;
}

#bg1{
   background-image: url(imgs/bg1.jpg); 
}

#bg2{
   background-image: url(imgs/bg2.jpg); 
}

#bg3{
   background-image: url(imgs/bg3.jpg); 
}

#bg4{
   background-image: url(imgs/bg4.jpg); 
}

#main{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
}

#mcontents{
    position: absolute;
    left:0px;
    right:0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 70%;
    height: 40%;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.apparel{
    height:30%;
    margin: 10px; 
}






