#menu {
    position: fixed;
    left: -110px;
    top: 50px;
    width: 100px;
    padding: 5px;
    background-color: #FAD;
}

#openbut{
    position: absolute;
    width: 50px;
    right:-50px;
    top:0px;
}

#closebut{
    position: absolute;
    width: 50px;
    right:-50px;
    bottom:0px;
}

.otherbut{
   width: 100%; 
}